 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  

  
  p.moved-paragraph {
    margin: -50px 20px 10px 45px; /* adiciona margem : topo e lados */
    font-size: medium; /* tamanho da fonte do rodapé*/
    text-align:center; /*centralizar opcional*/
   
   
  }
  .layout{
    display: grid;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'footer';
    height: 100vh;
  }


   
   


  .servico-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espaçamento entre os itens */
  }




.footer {
  min-height: 1px;
  text-align: center; /* Alinha o conteúdo do footer no centro */
  width: 100%; /* Define a largura do footer para ocupar toda a largura da página */
}

.redes{
  background: linear-gradient(to top,#a086db -10%, #a086db);
 
  
}
.social-list {
  list-style: none;
 
  list-style: none;
  margin-top: none;
  
}

.logo {
  width: 90px; /* Defina a largura desejada */
  height: auto; /* Altura automática para manter a proporção original da imagem */

}
.logo1{
  width: 120px;
  height: auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  position: absolute;
  width: 100%;

}
header nav{
  display: flex;
  gap: 30px;

}
header nav a{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 99px;
  text-decoration: none;
  transition: 0.3s;

  
}

.inicio{
  display: flex;
  height: 180dvh;
  background: linear-gradient(to top,#D2E2FB 30%, #a086db);

}
.inicio img {

  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;

}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top,#D2E2FB 100%, #efedf063);


    

 

}


.servico-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px; /* Espaçamento entre os itens */
}

.caixa{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 88%;/* Ajuste do layout para não ficar atrapalhando a leitura */ 
  left: 50%; 
  transform: translate(-50%,-46%);
  background: linear-gradient(to top,#c76eed 30%, #8707b5);
  padding: 20px;  
  border-radius: 20px;
 

 

} 



  


fieldset{
border: 10px solid rgb(201, 134, 235);
border-radius: 15px; /*Define a cor da borda, espaçamento interno, alinhamento do texto, cor de fundo e borda arredondada*/
}
legend{   /*fornecer uma legenda */
border: 1px solid rgb(188, 114, 226);
padding: 15px; 
text-align: center;
background-color: rgb(172, 105, 234);
border-radius: 15px;

}



.inputBox{ /*facilitar o posicionamento de outros elementos filhos.*/
position:relative;
}
.inputUser{ /*define o campo em geral fundo/tamanho/fonte*/
background: none;
border: none;
border-bottom: 1px solid white;
outline: none;
color: white;
font-size: 20px;
width: 100%;
letter-spacing:2px ;


}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~.labelInput{ /*Define o estilo para a etiqueta*/
top: -50px;  
font-size: 10px;
color: rgb(198, 124, 235);
}
.labelInput{
position: relative; /*estilizar as etiquetas dos campos de entrada.  quando coloca os dados*/
top: -20px;
left: 0px;
pointer-events: none;
transition: .5s;

}


#datanas{
  border: none;
  padding: 8px;          /*estilo para data de nascimento*/
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: rgb(67, 5, 124);
} 
#data{           /*estilos para data de agendamento e horário*/
border: none;
  padding: 8px;
  border-radius: 7px;
  outline: none;
  color: rgb(75, 5, 141);
  font-size: 20px;
  top: -20px;
  text-align: center; 
  transform: translate(1%,-5%)
  



  
 
  

}  






h2 {         /*Alinha o texto ao centro*/
text-align:center;
position: relative;
top: 10px;
left:-348px;
font-size: 110%;
}





#submit{              /*fecha a seção o botão final */
  background-image: linear-gradient(to right,rgb(189, 81, 235), rgb(170, 81, 238));
  width: 100%;
  border: 15px;
  padding: 15px;  
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
 
 
 
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}


.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}
.logo1{
    width: 120px;
    height: auto;}
.servicos{
    background: linear-gradient(to top, #D2E2FB 30%, #a365cd);


}  
.homesobre{
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #ba56f0);
    position: relative;
    overflow: hidden;

}
.homesobre img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
.homesobre .ca{ 
    width: 300px;
    height: auto;
    transform: translate(250%, -100%)
    

}
.map{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: center;

 
}
.sobfolhas img {

  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;

}






  
  



  

  













@media screen  and (max-width:600px){ /*esta parte é do formato de tela do celular*/
 

  .servico-grid {
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
}
.caixa{
  top: 163%;
    width: 100%; /* Largura reduzida para telas menores que 700px */


  

}
.leaf2{
  display: none;
}
.leaf1{
  display: none;
}
.container{
  width: 100%;
}





}




  




@media (min-width: 600px){
  .layout{
      display: grid;
      grid-template-rows: 160px auto 160px;
      grid-template-columns: 160px auto auto;
      grid-template-areas: 
      'header header header'
      'sidebar main main'
      'footer footer footer';}


     
      
         
      }   

    




  
     
      
  p.moved-paragraph {
    margin: -50px 20px 10px 45px; /* adiciona margem : topo e lados */
    font-size: small; /* tamanho da fonte do rodapé*/
    text-align:center; /*centralizar opcional*/

  }
  
  

 
 
  .data{
    border: none;
    padding: 30px;
    border-radius: 20px;
    outline: none;
    font-size: -20px;
    text-align:  center;
    color: rgb(248, 248, 248);
    top: -30px;
    left:-30px;
 

  }
  
  
  
  
  